<div class="main-content">

  <mat-card class="title-card">
    <mat-card-title>Upload .ex files</mat-card-title>
    <mat-card-content>Choose exercise and add your .ex files</mat-card-content>
  </mat-card>
<br>
  <div class="select-container">
    <mat-form-field class="select-container">
      <mat-select placeholder="Øving 00" (selectionChange)="changedExercise($event)">
        <mat-option *ngFor="let exercise of exercises" [value]="exercise.value">
          {{exercise.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
<br>
<button mat-raised-button color="primary" type="button" onclick="document.getElementById('fileToUpload').click()">
  <mat-icon class="example-icon">add</mat-icon>
  <label>
     Choose files
  </label>
</button>
<input id="fileToUpload" type="file" ng2FileSelect [(uploader)]="uploader" multiple style="display:none;">

<div class="col-md-9" style="margin-bottom: 40px; margin-top: 40px">

  <h3 class="mat-h3">Upload queue</h3>


  <table class="table mat-body" >
    <thead>
    <tr>
      <th width="40%" align="left">Name</th>
      <th>Size</th>
      <th>Progress</th>
      <th>Status</th>
      <th width="300px">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of uploader.queue">
      <td>{{ item?.file?.name }}</td>
      <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
      <td >
        <div class="progress" style="margin-bottom: 0;">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
        </div>
      </td>
      <td class="text-center">
        <span *ngIf="item.isSuccess"><mat-icon class="example-icon">done</mat-icon></span>
        <span *ngIf="item.isCancel"><mat-icon class="example-icon">cancel</mat-icon></span>
        <span *ngIf="item.isError"><mat-icon class="example-icon">error</mat-icon></span>
      </td>
      <td>
        <!--<button mat-button color="primary" type="button" class="mat-small btn-xs"-->
                <!--(click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">-->
          <!--<mat-icon class="example-icon" [inline]="true">cloud_upload</mat-icon> <label>Upload</label>-->
        <!--</button>-->
        <button mat-button color="accent" type="button" class="mat-small btn-xs"
                (click)="item.cancel()" [disabled]="!item.isUploading">
          <mat-icon class="example-icon" [inline]="true">cancel</mat-icon> <label>Cancel</label>
        </button>
        <button mat-button color="warn" type="button" class="mat-small btn-xs"
                (click)="item.remove()">
          <mat-icon class="example-icon" [inline]="true">delete</mat-icon> <label>Remove</label>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div>
    <div class="queue mat-body">
      <div class="progress" style="">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
      </div>
    </div>
    <button mat-raised-button color="primary" type="button" class="btn"
            matTooltip="You need to select an exercise and files for upload"
            aria-label="You need to select an exercise and files for upload"
            [matTooltipDisabled]="uploader.getNotUploadedItems().length > 0 || canSubmit == true"
            (click)="startUploadAllFiles()" [disabled]="!uploader.getNotUploadedItems().length || canSubmit == false">
      <mat-icon class="example-icon">cloud_upload</mat-icon> <label> Upload all</label>
    </button>
    <button mat-raised-button color="accent" type="button" class="btn"
            (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
      <mat-icon class="example-icon">cancel</mat-icon> <label> Cancel all</label>
    </button>
    <button mat-raised-button color="warn" type="button" class="btn"
            (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
      <mat-icon class="example-icon">delete</mat-icon> <label> Remove all</label>
    </button>
  </div>

</div>

</div>
