<div class="top-container">
  <h1 class="mat-display-1 description">Achievements!</h1>
  <div>
    <button mat-button class="btn-refresh" (click)="getAllAchievementData()">
      <span>Refresh</span>
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>

<mat-card class="achievements-card" *ngFor="let achievement of achievementList">
  <mat-card-title>{{achievement.name}}</mat-card-title>
  <mat-card-content>
    {{achievement.description}}
    <br>
    <div *ngFor="let userAchievement of [getUserAchievement(achievement.id)]">
      <div *ngIf="userAchievement">
        <span>{{userAchievement.achievementState}}</span>
      </div>
    </div>

  </mat-card-content>
</mat-card>


