<div class="main-content">
  <div>


    <div *ngIf="!name">
      <mat-card class="measure-card">
        <mat-card-title>{{taskName}}</mat-card-title>
      </mat-card>

    </div>

    <div *ngIf="!loading">
      <!-- https://swimlane.github.io/ngx-charts/#/ngx-charts/heat-map  ???-->

      <div class="heatmap-container">
        <ngx-charts-heat-map
          [view]="view"
          [scheme]="colorScheme"
          [results]="multi"
          [legend]="showLegend"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          (select)="onSelect($event)"
          [xAxisTickFormatting]="xAxisTickFormatting"

        >
        </ngx-charts-heat-map>
      </div>


      <mat-card *ngFor="let specificMeasure of measureSummaryStudent.measures; let i = index"
                id="card-{{i}}"
                class="measure-card"
      >
        <mat-card-title>{{specificMeasure.measureProvider}}</mat-card-title>
        <p *ngFor="let measure of specificMeasure.specificMeasures">{{measure.name}} : {{measure.value}}</p>
      </mat-card>

<!--      <div>
        <table border="1">
          <thead>
          <tr>
            <th *ngFor="let header of masterGridHeadders; let i = index">{{header}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of data; let i = index">
            <th *ngFor="let objKey of _object.keys(row); let j = index">{{ row[objKey] }} </th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>-->

<!--      <ng-template *ngFor="">

https://stackoverflow.com/questions/49589713/dynamically-assign-element-id-inside-ngfor

and https://github.com/nicky-lenaers/ngx-scroll-to

      </ng-template>-->



  </div>

</div>
