

.measure-card {
  margin-top: 20px;
}


.heatmap-container {
  margin-top: 20px;
}

.left-arrow {
  display: inline-flex;
  vertical-align: middle;
  margin-bottom: 3px !important;
}

.top-text {
  margin-top: 40px;
}

.details-content {
  display: flex;
  justify-content: space-evenly;
}

.val-solution {
  width: 190px;
  text-align: left;
}
.val-student {
  width: 190px;
  text-align: right;
}
.val-divider {
  width: 20px;
  text-align: center;
}

.bigger {
  font-size: large;
}

.padding-bottom{
  padding-bottom: 50px;
}
