<div class="main-content">
  <div>


    <h1 *ngIf="!name">
      {{taskName}}
    </h1>

      <p>{{measureSummary$ | async | json}}</p>
    <div *ngIf="!loading">
      <!-- https://swimlane.github.io/ngx-charts/#/ngx-charts/heat-map  ???-->

      <ngx-charts-heat-map
        [view]="view"
        [scheme]="colorScheme"
        [results]="multi"
        [legend]="showLegend"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)"
        [xAxisTickFormatting]="xAxisTickFormatting"

      >
      </ngx-charts-heat-map>

<!--      <div>
        <table border="1">
          <thead>
          <tr>
            <th *ngFor="let header of masterGridHeadders; let i = index">{{header}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of data; let i = index">
            <th *ngFor="let objKey of _object.keys(row); let j = index">{{ row[objKey] }} </th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>-->

<!--      <ng-template *ngFor="">

https://stackoverflow.com/questions/49589713/dynamically-assign-element-id-inside-ngfor

and https://github.com/nicky-lenaers/ngx-scroll-to

      </ng-template>-->



  </div>

</div>
