<div class="main-content padding-bottom">
  <div>


    <div *ngIf="!name && !showInstructions">
      <mat-card class="measure-card">
        <mat-card-title>{{taskName}}</mat-card-title>
      </mat-card>

    </div>


    <div *ngIf="showInstructions" class="mat-body top-text">
          <mat-icon class="left-arrow">
            arrow_back
          </mat-icon>
            Choose an exercise
    </div>

    <div *ngIf="!loading">
      <!-- https://swimlane.github.io/ngx-charts/#/ngx-charts/heat-map  ???-->

      <div class="heatmap-container">
        <ngx-charts-heat-map
          [view]="view"
          [scheme]="colorScheme"
          [results]="multi"
          [legend]="showLegend"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          (select)="onSelect($event)"
          [xAxisTickFormatting]="xAxisTickFormatting"


        >
        </ngx-charts-heat-map>
      </div>


      <mat-card *ngFor="let feature of studentList.features; let i = index"
                id="card-{{i}}"
                class="measure-card"
      >
        <mat-card-title>{{getFeatureTitle(objectKeys(feature))}}</mat-card-title>
        <!--<p *ngFor="let measure of specificMeasure.specificMeasures">{{measure.name}} : {{measure.value}}</p>-->
        <mat-card-content>
          {{getFeatureBody(objectKeys(feature))}}
          <div class="details-content">
            <div class="val-student">
              Student    <span style="padding-left: 15px;" class='bigger'>{{feature[objectKeys(feature)] | json }}</span>
            </div>
            <div class="val-divider">
              |
            </div>
            <div class="val-solution">
              <span style="padding-right: 15px;" class='bigger'>{{findValueInSolutionManualList(objectKeys(feature)[0]) || "0"}}</span>    Solution manual
            </div>
          </div>
        </mat-card-content>
      </mat-card>

<!--      <div>
        <table border="1">
          <thead>
          <tr>
            <th *ngFor="let header of masterGridHeadders; let i = index">{{header}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of data; let i = index">
            <th *ngFor="let objKey of _object.keys(row); let j = index">{{ row[objKey] }} </th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>-->

<!--      <ng-template *ngFor="">

https://stackoverflow.com/questions/49589713/dynamically-assign-element-id-inside-ngfor

and https://github.com/nicky-lenaers/ngx-scroll-to

      </ng-template>-->



    </div>

  </div>

</div>
