.top-row-toolbar {
  display: flex;
  justify-content: space-between;
}

.sidenav-drawer {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.example-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn-task {
  width: 100%;
  padding-left: 30px;
  text-align: left;
  overflow-x: hidden !important;
  overflow: hidden !important;

}


.container-task {
  margin-top: 20px;
}


.summary-task-name-class {
  width: 100%;
  /*overflow-x: hidden !important;*/
  overflow: hidden !important;
  text-overflow: ellipsis;
}
