
  <mat-toolbar class="top-row-toolbar">
    <div>
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon class="example-icon">menu</mat-icon>
        <span> Metrikker</span>
      </button>
      <button mat-button routerLink="/achievements">
        <mat-icon class="example-icon">security</mat-icon>
        <span> Prestasjoner</span>
      </button>
      <button mat-button routerLink="/upload">
        <mat-icon class="example-icon">cloud_upload</mat-icon>
        <span> Last opp</span>
      </button>

    </div>

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="example-icon">face</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/settings">
      <mat-icon class="example-icon">settings</mat-icon>
      Innstillinger</button>
    <button mat-menu-item (click)="logout()" [disabled]="!isLoggedIn">
      <mat-icon class="example-icon">exit_to_app</mat-icon>
      Logg ut</button>
  </mat-menu>








  <mat-sidenav-container
    class="example-container"
    (backdropClick)="sidenav.close()"
    [hasBackdrop]="false">

    <mat-sidenav #sidenav
                 (keydown.escape)="sidenav.close()"
                 disableClose
                 [opened]="true"
                 mode="side"
                 class="sidenav-drawer">

      <div *ngFor="let summary of summaries" class="container-task">
        <button
          mat-button
          routerLink="/summary/{{summary.taskId}}"
          routerLinkActive="active"
          class="btn-task">
          <div class="summary-task-name-class">
            {{summary.taskName}}
          </div>
        </button>
      </div>
      <mat-divider class="divider"></mat-divider>
      <div *ngFor="let summary of notUploadedSummaries(summaries)" class="container-task">
        <button
          mat-button
          routerLink="/upload/{{summary.value}}"
          routerLinkActive="active"
          class="btn-task">
          <div class="summary-task-name-class to-add">
            <!--Should give these a more transparent look-->
            <div><mat-icon class="example-icon add-icon">add_circle_outline</mat-icon> </div>
            <div class="hide-overflow">{{summary.viewValue}}</div>
          </div>
        </button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>




