<div class="main-content">
  <div *ngIf="!loggedIn">
    <br>
    <h1 class="mat-headline">
      Log in to see content!
    </h1>

    <a href="login">login</a>
  </div>

  <div *ngIf="loggedIn" class="mat-body top-text">
    <mat-icon class="left-arrow">
      arrow_back
    </mat-icon>
    Choose an exercise

  </div>
  <br>
  <br>
  <br>
  <div class="mat-body">
    Personvernserklæring
    <br>
    Denne siden lagrer en oversikt over din aktivitet.

    Hva som menes med din aktivitet; hvilke sider som blir besøkt, hvilke øvinger (øving 1, øving 2 osv.) som blir lastet opp, og tid brukt på siden.

    Aktiviteten din vil bli knyttet til en unik identifikator som utelukkende blir delt med Google analytics og kun brukt i forskningssammenheng og vil ikke bli solgt eller gitt videre.

    Autentisering er håndtert av Uninet Feide og nettsiden lagrer ikke din påloggingsinformasjon.
  </div>
</div>
